@charset 'UTF-8';

#content.asa {
    width: 58em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#asa {
    background: #ddebff;
    border: 1px solid #99b5dd;
    border-radius: 0.4em;
    margin-top: 1em;
    padding: 0.5em 1em;
    position: relative;
    min-width: 26em;
}

#asa h1 {
    padding-bottom: 0.5em;
    margin-bottom: 0;
    /*border-bottom: 1px solid #99b5dd;*/
    width: 100%;
}

ul.artifact-details {
    list-style-type: none;
    padding-left: 0;
    margin:0;
}

ul.artifact-details li {
    padding-bottom: 0.4em;
}
#asa .label {
    color: #334866;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0.4em;
}

table.attributes {
    clear: both;
    border-top: 1px solid #99b5dd;
    border-collapse: collapse;
    width: 100%;
}

table.attributes tr {
    border-bottom: 1px dotted #bbd0ee;
}

table.attributes th {
    color: #334866;
    font-weight: normal;
    text-align: left;
    width: 3em;
    white-space: nowrap;
}

table.attributes td {
    width: auto;
}

table.attributes th,
table.attributes td {
    font-size: 80%;
    padding: 0.5em 1em;
    vertical-align: top;
}

table.attributes p,
table.attributes h1,
table.attributes h2,
table.attributes h3,
table.attributes h4,
table.attributes h5,
table.attributes h6 {
    margin: 0;
}

table.attributes td.multiline p,
table.attributes td.multiline h1,
table.attributes td.multiline h2,
table.attributes td.multiline h3,
table.attributes td.multiline h4,
table.attributes td.multiline h5,
table.attributes td.multiline h6 {
    margin-bottom: 0.5em;
}

#artifact-form table.attributes tr.phantom td input,
#type-form table.attributes tr.phantom td input {
    padding: 0.25em 0.5em;
    border: 1px dashed #D7D7D7;
    background-color: #FCFCF7;
    font-style: italic;
    color: #AAA;
}

#artifact-form table.attributes tr.phantom td.attrname span,
#type-form table.attributes tr.phantom td.attrname span {
    color: #CCC;
}

#artifact-form table.attributes{
    width: 100%;
}

#type-form table.attributes{
    width: auto;
    margin-top: 1em;
}

#artifact-form table.attributes,
#type-form table.attributes{
    border-top: 0;
}

#artifact-form table.attributes tr,
#type-form table.attributes tr {
    border-bottom: none;
}

#artifact-form table.attributes th,
#artifact-form table.attributes td,
#type-form table.attributes th,
#type-form table.attributes td {
    padding: 0.2em 0.4em;
    white-space: nowrap;
}

#type-form table.attributes th {
    padding-left: 1em;
}

#artifact-form table.attributes td.attrname {
    text-align: right;
}

#type-form table.attributes td.readonly input {
    background-color: transparent;
}

#artifact-form table.attributes td.attrname input {
    border: 1px solid transparent;
    background-color: transparent;
    text-align: right;
    margin-right: 0;
    padding-right: 0.1em;
}

#artifact-form table.attributes td.attrname input:hover,
#artifact-form table.attributes td.attrname input:focus {
    border: 1px solid #D7D7D7;
    background-color: white;
}

#artifact-form table.attributes td.attrname span,
#type-form table.attributes td.attrname span {
    display: inline-block;
    padding: .25em .1em;
    margin: 2px 0;
    vertical-align: bottom;
    border: 1px solid transparent;
    width: 0.5em;
}

#artifact-form table.attributes td.attrvalue input {
    width: 390px;
}

#artifact-form table.attributes td.attrvalue textarea {
    margin: 2px;
    height: 150px;
    width: 397px;
    max-width: 397px;
}

#artifact-form table.attributes td.attrvalue a {
    display: inline-block;
    width: 12px;
    height: 14px;
    vertical-align: top;
    border-bottom: 0;
    margin-top: 0.4em;
}
#artifact-form table.attributes td.attrvalue a.tomultiline {
    background: transparent url(../media/buttons/multiline_expand_12x14.png) no-repeat;
}

#artifact-form table.attributes td.attrvalue a.touniline {
    background: transparent url(../media/buttons/multiline_shrink_12x14.png) no-repeat;
}

#artifact-form table.attributes td.attristitle {
    width: 1em;
    text-align: center;
}

#artifact-form table.attributes td.attrreorder,
#type-form table.attributes td.attrreorder {
    text-align: center;
}

#artifact-form table.attributes td.attrreorder a,
#type-form table.attributes td.attrreorder a {
    display: inline-block;
    width: 12px;
    height: 14px;
    vertical-align: middle;
    border-bottom: 0;
}

#artifact-form table.attributes td.attrreorder a.reorder-up,
#type-form table.attributes td.attrreorder a.reorder-up {
    background: transparent url(../media/buttons/reorder_up_12x14.png) no-repeat;
}

#artifact-form table.attributes td.attrreorder a.reorder-down,
#type-form table.attributes td.attrreorder a.reorder-down {
    background: transparent url(../media/buttons/reorder_down_12x14.png) no-repeat;
}

#artifact-form table.attributes td.attrdelete a,
#type-form table.attributes td.attrdelete a {
    display: inline-block;
    background: transparent url(../media/buttons/delete_12x14.png) no-repeat;
    width: 12px;
    height: 14px;
    vertical-align: middle;
    border-bottom: 0;
}

#content table.attributes td.attristitle input {
    width: auto;
}

#content.asa label{
    width: 15%;
    margin-right: 0.5em;
    text-align: right;
    display: inline-block;
}

#content.asa input, #content.asa select{
    width: 10em;
    display: inline-block;
}

#content.asa .buttons input {
    width: auto;
}

#content.asa-index .buttons input {
    margin: 0;
}

.prototype{
    display: none;
}

th {
    font-weight: bold;
}

/**** Index Dialog ****/

div.filter {
    width: 472px;
    padding-left: 4em;
    padding-right: 4em;
    margin-left: auto;
    margin-right: auto;
}

div.filter label,
div.filter input {
    width: 135px;
    display:inline-block;
    padding: 3px 6px 3px 6px;
}

div.filter label {
    border: 1px solid transparent;
}

div.filter input {
    font-size: 90%;
}

#artifact-select .artifacts #no_results {
    text-align: center;
    padding-top: 0.5em;
}

#artifact-select hr {
    margin: 1em 0;
}

#artifact-select #asa {
    float: right;
    width: 392px;
    margin-top:0;
    margin-left:16px;
}

#artifact-select #asa.invisible {
    background-color: transparent;
    border: none;
}

#artifact-select table.listing {
    width: 392px;
    clear: none;
    float: left;
}

table.listing td.message,
#artifacts.message,
#message.message{
    text-align: center;
    font-style: italic;
    vertical-align: middle;
    padding: 2em 4em 2em 4em;
}

a.asa-link {
    border-bottom: 1px dotted #99B5DD;
    color: #1B58B1;
}

a.wiki {
    color: #B00;
}