#content.asa {
    width: 58em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#asa {
    background: #ddebff;
    border: 1px solid #99b5dd;
    border-radius: .4em;
    margin-top: 1em;
    padding: .5em 1em;
    position: relative;
}

#asa h1 {
    padding-bottom: 0.5em;
    margin-bottom: 0em;
    /*border-bottom: 1px solid #99b5dd;*/
    width: 100%;
}

ul.artifact-details {
    list-style-type: none;
    padding-left: 0;
    margin:0;
}

ul.artifact-details li {
    padding-bottom: 0.4em;
}
#asa .label {
    color: #334866;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 0;
}

table.attributes {
    clear: both;
    border-top: 1px solid #99b5dd;
    border-collapse: collapse;
    width: 100%;
}

table.attributes tr {
    border-bottom: 1px dotted #bbd0ee;
}

table.attributes th {
    color: #334866;
    font-weight: normal;
    text-align: left;
    width: 3em;
    white-space: nowrap;
}

table.attributes td {
    width: auto;
}

table.attributes th,
table.attributes td {
    font-size: 80%;
    padding: .5em 1em;
    vertical-align: top;
}

#content.asa label{
    width: 20%;
    margin-right: 0.5em;
    text-align: right;
    display: inline-block;
}

#content.asa input, #content.asa select{
    width: 17em;
    display: inline-block;
}

#content.asa .buttons input {
    width: auto;
}

#content.asa-index .buttons input {
    margin: 0;
}

.prototype{
    display: none;
}

th {font-weight: bold;}

/* TODO: needs refactoring. "fieldset#properties" is currently used to match the "create" but not the "view" page/dialog */
fieldset#properties table.attributes{
    width: 100%;
    border-top: 0;
}

/**** Index Dialog ****/

div.filter {
    width: 482px;
}

div.filter label,
div.filter input {
    width: 135px;
    display:inline-block;
    padding: 3px 6px 3px 6px;
}

div.filter label {
    border: 1px solid transparent;
}

div.filter input {
    font-size: 90%;
}