#content.asa-index {
}

#entry-points {
	float:left;
}

#artifacts {
	margin-left: 20em;
}

#artifacts,
#message {
	padding: 0.4em 2em 0.4em 2em;
	background-color: #F7F7F7;
	border: 1px solid #D7D7D7;
	border-radius: .4em;
	box-shadow: .1em .1em 1em 0 #E7E7E7 inset;
}

#artifacts h2 {
    margin-bottom:4px;
    display:inline-block;
}

#artifacts .spec-options{
    font-size: 70%;
    display:inline-block;
}

#artifacts .spec-details{
    font-size: 70%;
}

#artifacts .paging {
    float:right;
    margin:0;
}

ul#tabs {
	list-style-type: none;
	margin: 0;
	min-height: 2em;
}

#artifacts table.listing {
    clear: none;
}

#artifacts table.listing tr {
    /* Overrides trac's style as we're interested in styling ths instead */
    background: none;
}

#artifacts table.listing th {
    background: #F7F7F0;
}

#artifacts table.listing th.artifact-options,
#artifacts table.listing td.artifact-options,
#artifacts table.listing th.artifact-pages,
#artifacts table.listing td.artifact-pages {
    text-align: center;
    vertical-align: middle;
}

#artifacts table.listing th.artifact-pages,
#artifacts table.listing td.artifact-pages {
    width: 2em;
}

#artifacts table.listing th.artifact-options,
#artifacts table.listing td.artifact-options {
    width: 5em;
}

#artifacts table.listing td.artifact-options {
    font-size: 70%;
}

#artifacts table.listing .overflowed {
    display: none;
}

#artifacts table.listing th.bellows,
#artifacts table.listing td.bellows {
    width: 21px;
    border: 0;
}

#artifacts table.listing th.bellows {
    background: transparent url(../media/bellows-top.png) repeat;
}

#artifacts table.listing td.bellows {
    background: transparent url(../media/bellows-middle.png) repeat;
}

.jstree :link, .jstree :visited {
    border-bottom: 0px;
}

.jstree-default.jstree-focused {
    background: transparent !important;
}

div#entry-points li a.selected {
    background-color: #add8e6;
}