#divtext{

    white-space:pre;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* ancient Opera */
    white-space: -o-pre-wrap; /* newer Opera */
    white-space: pre-wrap; /* Chrome; W3C standard */
    word-wrap: break-word; /* IE */


    font-family: monospace;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    vertical-align: text-bottom;

    background-color: white;
    clear: both;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
    width: 100%;
    min-height: 10em;
    resize: vertical;
}

span.divtext_selected_word
{
    color:red;
    //text-decoration:underline;
}​
