<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title></title>
  </head>
  <body>
      Available ${context_instance.get_name()}s:
      <ul>
          <li py:for="entity in entities"><a href="${req.href.adaptiveartifacts(entity.get_identifier(), action='view')}">${entity.get_name()}</a></li>
          <li py:for="instance in instances"><a href="${req.href.adaptiveartifacts(instance.get_identifier(), action='view')}">${instance.get_identifier()}</a></li>
      </ul>
      <form method="get" action="${href.adaptiveartifacts(context_instance.get_identifier())}" id="modifypage">
          <input type="hidden" name="action" value="instantiate" />
          <input type="submit" value="Create new" />
      </form>
      <br/>
  </body>
</html>
