<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>${instance.get_id_meta()}</title>
  </head>
  <body>
    <div id="content" class="asa">
        <ul>
            <li>Identifier: ${instance.get_identifier()}</li>
            <li>Meta: ${instance.get_meta().get_name()}</li>
            <li>Name: ${instance.get_name()}</li>
            <li>Properties:
                <ul>
                    <li py:for="property in instance.get_meta().get_properties()">${property.get_name()}: ${instance.get_values(property.get_identifier())}</li>
                </ul>
            </li>
        </ul>
    </div>
  </body>
</html>
