<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head><title>Artifact Spec - ${instance.get_name()}</title></head>
  <body>
    <div id="content" class="asa">
        <h1>${instance.get_name()}</h1>
        <table border="1">
        <tr><th>Attribute</th><th>Type</th><th>Multiplicity</th></tr>
        <tr py:for="attribute in instance.get_attributes()">
            <td>${attribute.name}</td><td>${attribute.type.__name__ if attribute.type else ''}</td><td>${attribute.multiplicity[0]},${attribute.multiplicity[1]}</td>
        </tr>
        </table>
        <br/>
        <a href="${req.href.adaptiveartifacts('spec/' + instance.get_id(), action='edit')}">Edit</a> |
        <a href="${req.href.adaptiveartifacts('spec/' + instance.get_id(), action='list')}">See Instances</a>
    </div>
  </body>
</html>
