<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>${instance.__class__.get_id()}</title>
  </head>
  <body>
    <div id="content" class="asa">
        <ul>
            <li>Identifier: ${instance.get_id()}</li>
            <li>Meta: <a href="${req.href.adaptiveartifacts(instance.__class__.get_id(), action='view')}">${instance.__class__.get_name()}</a></li>
            <py:if test="instance.__class__.__name__ == 'Entity'">
            <li>Name: ${instance.get_name()}</li>
            </py:if>
            <li>Values:
                <ul>
                    <li py:for="attribute in instance.__class__.get_attributes()">${attribute.name}: ${instance.get_value(attribute.name)}</li>
                </ul>
            </li>
            <py:if test="instance.__class__.__name__ == 'Entity'">
            <li>Properties:
                <ul>
                    <li py:for="attribute in instance.get_attributes()">${attribute.name}</li>
                </ul>
            </li>
            </py:if>
        </ul>
        <py:if test="instance.__class__.__name__ == 'Entity'">
        <a href="${req.href.adaptiveartifacts(instance.get_id(), action='list')}">See Instances</a>
        </py:if>
    </div>
  </body>
</html>
