<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <py:def function="attr_value_markup(value_idx=None, attr_name=None, attr_value=None)">
      <td><a class="delvalue" href="#">[-]</a></td>
      <td><input type="text" name="attr-name-${value_idx}" value="${attr_name}" /></td>
      <td><input type="text" name="attr-value-${value_idx}" value="${attr_value}" /></td>
      <td>
          <input type="radio" name="default" value="attr-default-${value_idx}" />
      </td>
  </py:def>

  <head>
    <title></title>
    <script type="text/javascript">
      $(document).ready(function(){
          $("a.addvalue").click(addValue);
          $("a.delvalue").click(delValue);
      });
    </script>
  </head>
  <body>
      <div id="content" class="asa">
      <h1>New Artifact</h1>
      <form method="post" action="${href(url_path)}">
          <label>Spec:</label> <input type="text" name="spec_name" value="${instance_meta.get_name()}" /><br/>
          <label>Attributes:</label>
          <table class="attributes">
              <tr><th></th><th>Name</th><th>Value</th><th>Default</th></tr>
              <tr class="attribute prototype">
                  ${attr_value_markup(value_idx="X", attr_name="", attr_value="")}
              </tr>
              <py:if test="instance">
                  <tr py:for="name,value in instance.get_values()" class="attribute">
                      ${attr_value_markup(value_idx=name, attr_name=name, attr_value=value)}
                  </tr>
              </py:if>
          </table>
          <a href="#" class="addvalue" title="Add one more value" style="margin-left: 12.5em;">[+]</a>
          <br/>
          <py:if test="not instance">
            <input type="hidden" name="action" value="new" />
            <input type="submit" value="Create" />
          </py:if>
          <py:if test="instance">
            <input type="hidden" name="action" value="edit" />
            <input type="submit" value="Edit" />
          </py:if>
          <br/><br/>
      </form>
      </div>
  </body>
</html>

