<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title></title>
  </head>
  <body>
      <h1>Create new ${instance_meta.get_name()} <small>(inherits ${instance_meta.get_parent().get_name()})</small></h1>
      <form method="post" action="${href.adaptiveartifacts(instance_meta.id)}">
          <input type="hidden" name="meta_id" value="${instance_meta.id}" />
          <h2>Properties</h2>
          <ul>
              <li py:for="property in instance_meta.get_properties()">${property.get_name()}: <input type="text" name="${property.get_identifier()}" value="${instance.get_value(property.get_identifier())}" /> Domain: <input type="text" name="" value="" /></li>
          </ul>
          <!-- TODO: also show all the propeties. When we implement composition relations we no longer have to hardcode this, instead of showing the "properties", we will show whatever has composition relations -->
          Add new property:
          <br/>
          Name: <input type="text" name="new-property-1" value="" /> Domain: <input type="text" name="" value="" />

          <input type="hidden" name="action" value="instantiate" />
          <input type="submit" value="Create" />
      </form>
  </body>
</html>