<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <py:def function="attr_markup(idx=None, attr_name=None, attr_type=None, attr_multiplicity=None)">
      <td><a class="delattr" href="#">[-]</a></td>
      <td><input type="text" name="attr-name-${idx}" value="${attr_name}" /></td>
      <td>
          <select name="attr-type-${idx}">
            <option value=""></option>
            <option value="str">str</option>
          </select>
      </td>
      <td>
           <select name="attr-multiplicity-${idx}">
               <option value=""></option>
               <py:for each="m in multiplicities">
                   <py:if test="m==attr_multiplicity">
                       <option value="${m}" checked="checked">${m}</option>
                   </py:if>
                   <py:if test="m!=attr_multiplicity">
                       <option value="${m}">${m}</option>
                   </py:if>
               </py:for>
           </select>
       </td>
  </py:def>

  <py:def function="attr_markup_readonly(idx=None, attr_name=None, attr_type=None, attr_multiplicity=None)">
      <td></td>
      <td>${attr_name}</td>
      <td>${attr_type}</td>
      <td>${attr_multiplicity}</td>
  </py:def>

  <head><title></title></head>
  <body>
      <div id="content" class="asa">
      <h1>New Artifact Specification</h1>
      <form method="post" action="${href(url_path)}">
          <label>Name:</label>
          <py:if test="instance"><input type="text" name="name" value="${instance.get_name()}" /></py:if>
          <py:if test="not instance"><input type="text" name="name" value="" /></py:if>
          <br/>
          <label>Inherits:</label>
          <py:if test="not instance or instance.get_parent() is None">
              <input type="text" name="parent" value="" />
          </py:if>
          <py:if test="instance and not instance.get_parent() is None">
              <input type="text" name="parent" value="${instance.get_parent().get_name()}" />
          </py:if><br/>
          <label>Attributes:</label>
          <table class="attributes">
              <tr><th></th><th>Name</th><th>Type</th><th>Multiplicity</th></tr>
              <tr class="attribute prototype">
                  ${attr_markup(idx="X")}
              </tr>
              <py:if test="instance">
                  <tr py:for="attr,uuid in attributes" class="attribute">
                      <py:if test="attr.owner_spec == instance">
                        ${attr_markup(idx=uuid, attr_name=attr.name, attr_type=attr.type._name__, attr_multiplicity=attr.multiplicity)}
                      </py:if>
                      <py:if test="attr.owner_spec != instance">
                        ${attr_markup_readonly(idx=uuid, attr_name=attr.name, attr_type=attr.type.__name__, attr_multiplicity=attr.multiplicity)}
                      </py:if>
                  </tr>
              </py:if>
          </table>
          <a href="#" class="addattr" title="Add one more attribute" style="margin-left: 12.5em;">[+]</a>

          <br/>
          <py:if test="not instance">
            <input type="hidden" name="action" value="new" />
            <input type="submit" value="Create" />
          </py:if>
          <py:if test="instance">
            <input type="hidden" name="action" value="edit" />
            <input type="submit" value="Edit" />
          </py:if>
          <br/><br/>
      </form>
      </div>
  </body>
</html>