<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title></title>
    <script type="text/javascript">
      $(document).ready(function(){
          $("a.addproperty").click(function(){
            var newid = uuid.v4()
            var copy = $("div.property:last").clone(true)
            copy.removeClass('prototype')
            name_input = copy.find("input[name^='property-name-']")
            name_input.attr("name", "property-name-" + newid)
            name_input.attr("value", "")
            domain_input = copy.find("select[name^='property-domain-']")
            domain_input.attr("name", "property-domain-" + newid)
            $("div.properties").append(copy)
          });

          $("a.delproperty").click(function(){
              $(this).parent().remove()
          });
      });
    </script>
    <style>
        #content.asa {
            width: 58em;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        #content.asa label{
            width: 20%;
            margin-right: 0.5em;
            text-align: right;
            display: inline-block;
        }

        #content.asa input, #content.asa select{
            width: 17em;
            display: inline-block;
        }

        .prototype{
            display: none;
        }
    </style>
  </head>
  <body>
      <div id="content" class="asa">
      <h1>Create new ${instance_meta.get_name()} <small>(inherits ${instance_meta.get_parent().get_name()})</small></h1>
      <form method="post" action="${href.adaptiveartifacts(instance_meta.id)}">
          <input type="hidden" name="meta_id" value="${instance_meta.id}" />
          <fieldset id="basics">
          <legend>Basics</legend>
          <py:for each="property in instance_meta.get_properties()">
              <label for="id_${property.get_identifier()}">${property.get_name()}<py:if test="property.is_mandatory()">*</py:if>:</label>
              <py:choose test="property.get_field_type()">
                  <py:when test="'text'">
                      <input type="text" id="id_${property.get_identifier()}" name="${property.get_identifier()}" value="${instance.get_value(property.get_identifier())}" />
                  </py:when>
                  <py:when test="'combo'">
                      <select id="id_${property.get_identifier()}" name="${property.get_identifier()}">
                          <py:if test="not property.is_mandatory()">
                              <option value="None"></option>
                          </py:if>
                          <option py:for="inst_possible_value in property.get_possible_values(instance)" value="${inst_possible_value.get_identifier()}">${inst_possible_value.get_text_repr()}</option>
                      </select>
                </py:when>
                <py:otherwise></py:otherwise>
              </py:choose>
              <a href="docs#${property.get_domain()}">(?)</a>
              <br/>
          </py:for>
          </fieldset>

          <py:if test="instance.is_instance('Entity')">
              <fieldset id="properties">
                  <legend>Properties</legend>
                  <!-- TODO: also show all the properties. When we implement composition relations we no longer have to hardcode this, instead of showing the "properties", we will show whatever has composition relations -->

                  <py:def function="domain_combo(prop_id=None, prop_domain=None, possible_domains=None)">
                      <select id="id_${prop_id}" name="property-domain-${prop_id}">
                          <py:for each="domain_value_id, domain_value_name in possible_domains">
                            <py:choose>
                                <py:when test="domain_value_id == prop_domain">
                                    <option value="${domain_value_id}" selected="selected">${domain_value_name}</option>
                                </py:when>
                                <py:otherwise>
                                    <option value="${domain_value_id}">${domain_value_name}</option>
                                </py:otherwise>
                            </py:choose>
                          </py:for>
                      </select>
                  </py:def>

                  <div class="properties">
                      <div class="property prototype">
                          <label>Name:</label>
                          <input type="text" name="property-name-X" value="" />
                          ${domain_combo(prop_id="X", possible_domains=instance.pool.get_possible_domains().items())}
                          <a href="#" class="delproperty" title="Delete property">[-]</a>
                          <a href="docs#">(?)</a>
                          <br/>
                      </div>
                      <div py:for="prop in instance.get_properties()" class="property">
                          <label>Name:</label>
                          <input type="text" name="property-name-${prop.get_identifier()}" value="${prop.get_name()}" />
                          ${domain_combo(prop.get_identifier(), prop.get_domain(), instance.pool.get_possible_domains().items())}
                          <a href="docs#${prop.get_domain()}">(?)</a>
                          <a href="#" class="delproperty" title="Delete property">[-]</a>
                          <br/>
                      </div>
                  </div>
                  <a href="#" class="addproperty" title="Add one more property" style="margin-left: 12.5em;">[+]</a>
              </fieldset>
          </py:if>

          <input type="hidden" name="action" value="instantiate" />
          <input type="submit" value="Create Instance" />
          <br/><br/>
      </form>
      </div>
  </body>
</html>