<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html" />
    <xi:include href="edit_artifact_common.html" />

    <head><title></title></head>
    <body>
        <div id="content" class="asa">
            <div>
                <h1>
                    <py:if test="not artifact">
                        Create Custom Artifact
                    </py:if>
                    <py:if test="artifact">
                        Edit Custom Artifact #${artifact.get_id()}
                    </py:if>
                </h1>
                <form method="post" action="${url_path}" id="artifact-form">
                    <fieldset id="properties">
                        <legend>Details</legend>

                        <div id="dialog-content"></div>
                    </fieldset>

                    <div class="buttons">
                        <py:if test="not artifact">
                          <input type="submit" value="Create" />
                        </py:if>
                        <py:if test="artifact">
                          <input type="submit" value="Save" />
                        </py:if>
                    </div>
                    <br/><br/>
                </form>
            </div>
        </div>
    </body>
</html>

