<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html" />

    <py:def function="attr_markup(idx=None, attr_name=None, attr_type=None, attr_multiplicity=None, is_add_attribute=False)">
        <td class="attrname">
            <input type="text" name="attr-name-${idx}" value="${attr_name}" />
        </td>
        <py:if test="is_add_attribute">
            <td class="attrtype"><input/></td>
            <td class="attrmultiplicity"><input/></td>
            <td></td><td></td>
        </py:if>
        <py:if test="not is_add_attribute">
            <td class="attrtype">
                <select name="attr-type-${idx}">
                    <option value=""></option>
                    <py:for each="t in types">
                        <py:if test="t==attr_type">
                            <option value="${t}" selected="selected">${t}</option>
                        </py:if>
                        <py:if test="t!=attr_type">
                            <option value="${t}">${t}</option>
                        </py:if>
                    </py:for>
                </select>
            </td>
            <td class="attrmultiplicity">
                <select name="attr-multiplicity-${idx}">
                    <option value=""></option>
                    <py:for each="m in multiplicities">
                        <py:if test="m==attr_multiplicity">
                            <option value="${m}" selected="selected">${m}</option>
                        </py:if>
                        <py:if test="m!=attr_multiplicity">
                            <option value="${m}">${m}</option>
                        </py:if>
                    </py:for>
                </select>
            </td>
            <td class="attrreorder"><a class="reorder-down" href="#" title="Move below"></a><a class="reorder-up" href="#" title="Move up"></a></td>
            <td class="attrdelete"><a class="delattr" href="#" title="Delete attribute"></a></td>
        </py:if>
    </py:def>

    <py:def function="attr_markup_readonly(idx=None, attr_name=None, attr_type=None, attr_multiplicity=None)">
        <td>${attr_name}</td>
        <td>${attr_type}</td>
        <td>${attr_multiplicity}</td>
        <td></td>
        <td></td>
    </py:def>

    <head><title></title></head>
    <body>
        <div id="content" class="asa">
            <h1>
                <py:if test="not spec">
                    Create Adaptive Artifact Type
                </py:if>
                <py:if test="spec">
                    Edit Adaptive Artifact Type
                </py:if>
            </h1>
            <form method="post" action="${url_path}" id="type-form">
                <fieldset id="properties">
                    <legend>Details</legend>
                    <label>Name:</label>
                    <py:if test="spec"><input type="text" name="name" value="${spec.get_name()}" /></py:if>
                    <py:if test="not spec"><input type="text" name="name" value="" /></py:if>
                    <br/>
                    <label>Inherits:</label>
                    <py:if test="not spec or spec.get_parent() is None">
                        <input id="spec" type="text" name="parent" value="" />
                    </py:if>
                    <py:if test="spec and not spec.get_parent() is None">
                        <input type="text" name="parent" value="${spec.get_parent().get_name()}" />
                    </py:if><br/>
                    <label>Attributes:</label>
                    <table class="attributes">
                        <thead>
                            <tr><th>Name</th><th>Type</th><th>Multiplicity</th><th>Order</th><th></th></tr>
                        </thead>
                        <tbody>
                            <tr class="attribute prototype">
                                ${attr_markup(idx="X")}
                            </tr>
                            <py:if test="spec">
                                <tr py:for="uuid, name, owner, type, multiplicity, in attributes" class="attribute">
                                    <py:if test="owner == spec">
                                        ${attr_markup(idx=uuid, attr_name=name, attr_type=type, attr_multiplicity=multiplicity)}
                                    </py:if>
                                    <py:if test="owner != spec">
                                        ${attr_markup_readonly(idx=uuid, attr_name=name, attr_type=type, attr_multiplicity=multiplicity)}
                                    </py:if>
                                </tr>
                            </py:if>
                            <tr class="attribute phantom addattr">
                                ${attr_markup(idx='X', attr_name='New Attribute', is_add_attribute=True)}
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </fieldset>

                <div class="buttons">
                    <py:if test="not spec">
                        <input type="hidden" name="action" value="new" />
                        <input type="submit" value="Create" />
                    </py:if>
                    <py:if test="spec">
                        <input type="hidden" name="action" value="edit" />
                        <input type="submit" value="Edit" />
                    </py:if>
                </div>
                <br/><br/>
            </form>
        </div>
    </body>
</html>