<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html" />
    <xi:include href="edit_artifact_common.html" />

    <head><title></title></head>
    <body>
        <div id="content" class="asa">
            <h1>Artifact</h1>
            <form method="post" action="${url_path}">

                <div id="dialog-content"></div>

                <py:if test="not artifact">
                  <input type="submit" value="Create" />
                </py:if>
                <py:if test="artifact">
                  <input type="submit" value="Edit" />
                </py:if>
                <br/><br/>
            </form>
        </div>
    </body>
</html>

