<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head><title></title></head>
  <body>
      <ul>
          <li py:for="spec,count in specs"><a href="">+</a> <a href="${req.href.adaptiveartifacts('spec/' + spec.get_id(), action='view')}">${spec.get_name()}</a> (${count})</li>
      </ul>
      <ul>
          <li><a href="">+</a> <a href="${req.href.adaptiveartifacts('aggregate/no_spec', action='list')}">Artifacts with no spec</a></li>
      </ul>
      <form method="get" action="${href.adaptiveartifacts('spec')}">
          <input type="hidden" name="action" value="new" />
          <input type="submit" value="New Spec" />
      </form>
      <form method="get" action="${href.adaptiveartifacts('artifact')}">
          <input type="hidden" name="action" value="new" />
          <input type="submit" value="New Artifact" />
      </form>

      <a id="dialog" href="#">New Artifact (dialog)</a>
      <br/><br/><br/>
  </body>
</html>
