<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <py:def function="spec_markup(specs, page_nr=0)">
      <ul py:if="specs">
      <py:for each="spec,subspecs,arts_count in specs">
              <li id="spec-${spec.get_id()}">
                  <div py:choose="">
                  <a py:when="selected_spec and spec.get_id() == selected_spec.get_id()" class="selected" href="${req.href.adaptiveartifacts(spec=spec.get_id(), page=page_nr)}">${spec_anchor_content_markup(spec, arts_count, len(subspecs))}</a>
                  <a py:otherwise="" href="${req.href.adaptiveartifacts(spec=spec.get_id(), page=page_nr)}">${spec_anchor_content_markup(spec, arts_count, len(subspecs))}</a>
                  <py:if test="subspecs">
                      ${spec_markup(subspecs)}
                  </py:if>
              </div>
          </li>
      </py:for>
      </ul>
  </py:def>

  <py:def function="spec_anchor_content_markup(spec, arts_count, subspecs_count)">
      ${spec.get_name()} <py:if test="arts_count>0"><small>(${arts_count})</small></py:if>
  </py:def>

  <head><title></title></head>
  <body>
     <div id="content" class="asa-index">

         <div class="buttons" style="float:right;">
             <form method="get" action="${href.adaptiveartifacts('artifact')}">
                 <input type="hidden" name="action" value="new" />
                 <input type="submit" value="New Custom Artifact" />
             </form>
             <form method="get" action="${href.adaptiveartifacts('spec')}">
                 <input type="hidden" name="action" value="new" />
                 <input type="submit" value="New Type" />
             </form>
         </div>
         <br/><br/>

        <div id="entry-points" class="tree">
            <h1>Custom Artifacts Types</h1>
            <div id="specs">
            ${spec_markup(specs)}
            </div>

            <h2>More Custom Artifacts Lists</h2>
            <div id="others">
                <ul>
                    <li>
                        <py:choose test="">
                        <a py:when="selected_search == 'no_spec'" class="selected" href="${req.href.adaptiveartifacts(search='no_spec')}">Artifacts with no Type<small> (${len(artifacts_values)})</small></a>
                        <a py:otherwise="" href="${req.href.adaptiveartifacts(search='no_spec')}">Artifacts with no Type</a>
                        </py:choose>
                    </li>
                </ul>
            </div>
            <br/><br/>
        </div>

        <py:choose test="">
          <py:when test="not selected_spec and not selected_search">
              <div id="artifacts" class="message">
                Please use one of the options on the left to see the chosen list of Custom Artifacts.
                  <br/>
                You can also create a <form method="get" action="${href.adaptiveartifacts('artifact')}" style="display:inline"><input type="hidden" name="action" value="new" /><input type="submit" value="New Custom Artifact" /></form> or a <form method="get" action="${href.adaptiveartifacts('spec')}" style="display:inline"><input type="hidden" name="action" value="new" /><input type="submit" value="New Type of Custom Artifact" /></form>
              </div>
          </py:when>
          <py:otherwise>
              <div id="artifacts">

                <py:if test="selected_spec and not selected_search">
                    <h2>${selected_spec.get_name()}</h2> <span class="spec-options"><a href="${req.href.adaptiveartifacts('spec', selected_spec.get_id(), action='view')}">[view]</a><a href="${req.href.adaptiveartifacts('spec', selected_spec.get_id(), action='edit')}">[edit]</a></span>
                    <div class="spec-details">
                    ${len(spec_columns)} Attributes;
                    <!-- X Subspecs; -->
                    ${len(artifacts_values)} Custom Artifacts.
                    </div>
                </py:if>
                <py:if test="selected_search and selected_search=='no_spec'">
                    <h2>All without Type</h2>
                    <div class="spec-details">
                    ${len(artifacts_values)} Custom Artifacts.
                    </div>
                </py:if>

                <!--
                <div class="paging">
                    <span><span class="current">1</span></span>
                    <span><a href="/my-trac-environment/search?asa=on&amp;changeset=on&amp;milestone=on&amp;ticket=on&amp;wiki=on&amp;q=trac&amp;page=2&amp;noquickjump=1" title="page 2">2</a></span>
                    <span class="next"><a href="/my-trac-environment/search?asa=on&amp;changeset=on&amp;milestone=on&amp;ticket=on&amp;wiki=on&amp;q=trac&amp;page=2&amp;noquickjump=1" title="Next Page">→</a></span>
                </div>
                -->
                <h3>Custom Artifacts</h3>

                <table class="listing">
                    <thead>
                        <tr>
                            <py:for each="column in spec_columns"><th title="'${column[0]}' attribute, defined by the '${column[1]}' Spec.">${column[0]}</th></py:for>
                            <py:for each="column in arti_columns"><th style="font-style:italic;">${column[0]}</th></py:for>
                            <th class="artifact-options"></th>
                        </tr>
                    </thead>
                    <py:if test="len(artifacts_values)==0">
                        <tr>
                            <td colspan="${len(spec_columns)+len(arti_columns)+2}" class="message">No Custom Artifacts found</td>
                        </tr>
                    </py:if>
                    <py:if test="len(artifacts_values)>0">
                        <py:for each="artifact,values in artifacts_values">
                            <tr title="Related with ${artifacts_pages_count[artifact]} wiki page(s) and ${artifacts_rel_artifact_count[artifact]} artifact(s)">
                                <py:for each="value in values">
                                    <td>
                                        <py:if test="value['is_long']">
                                            <span title="${value['full']}" style="border-bottom: 1px dotted #B00; cursor:help;">[...]</span>
                                        </py:if>
                                        <py:if test="not value['is_long']">
                                            <py:if test="not '\n' in value['full']">
                                                ${wiki_to_oneliner(context, value['full'])}
                                            </py:if>
                                            <py:if test="'\n' in value['full']">
                                                ${wiki_to_html(context, value['full'])}
                                            </py:if>
                                        </py:if>
                                    </td>
                                </py:for>
                                <td class="artifact-options"><a href="${req.href.adaptiveartifacts('artifact', artifact.get_id(), action='view')}">[view]</a><br/></td>
                            </tr>
                        </py:for>
                    </py:if>
                </table>

                <!--
                <div class="paging">
                    <span><span class="current">1</span></span>
                    <span><a href="/my-trac-environment/search?asa=on&amp;changeset=on&amp;milestone=on&amp;ticket=on&amp;wiki=on&amp;q=trac&amp;page=2&amp;noquickjump=1" title="page 2">2</a></span>
                    <span class="next"><a href="/my-trac-environment/search?asa=on&amp;changeset=on&amp;milestone=on&amp;ticket=on&amp;wiki=on&amp;q=trac&amp;page=2&amp;noquickjump=1" title="Next Page">→</a></span>
                </div>
                -->
                <br/>
              </div>
          </py:otherwise>
        </py:choose>

        <br/><br/>

     </div>
  </body>
</html>
