<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html" />
    <xi:include href="view_artifact_common.html" />

    <head>
        <title>Resource not available</title>
    </head>
    <body>
        <div id="content" class="asa">
            <div id="message" class="message">
                The Custom Artifact resource that you requested <strong>could not be retrieved</strong>, <br/>
                please make sure the link that you followed here is correct, or take this  <br/>
                chance to <a href="${href.adaptiveartifacts()}">create</a> the resource you need.
            </div>
            <br/><br/>
        </div>
    </body>
</html>