<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head><title>Adaptive Artifact Type - ${spec.get_name()}</title></head>
  <body>
    <div id="content" class="asa">
        <div id="asa">
            <h1>
                <em>${spec.get_name()}</em>
                <div style="font-weight: normal;font-size: 60%;">
                    Type of Adaptive Artifact.
                </div>
            </h1>
            <span class="label">Inherits:</span> <py:if test="not spec.get_parent() is None"><a href="${href.adaptiveartifacts('spec/' + spec.get_parent().get_id(), action='view')}">${spec.get_parent().get_name()}</a></py:if>
            <div class="label">Attributes</div>
            <table class="attributes" style="border-top: none;">
                <thead>
                    <tr style="border-bottom: 1px solid #99B5DD;"><th><strong>Name</strong></th><th><strong>Type</strong></th><th><strong>Multiplicity</strong></th></tr>
                </thead>
                <tbody>
                    <tr py:for="attribute in spec.get_attributes()">
                        <td>${attribute.name}</td><td>${attribute.get_type_readable() if attribute.type else ''}</td><td>${attribute.get_multiplicity_readable()}</td>
                    </tr>
                </tbody>
            </table>
            <br/>
        </div>
        <div class="buttons" style="position: absolute; top: 0; right: 0;">
            <form method="get" action="${href.adaptiveartifacts('spec/' + spec.get_id())}">
                <input type="hidden" name="action" value="edit" />
                <input type="submit" value="Edit" />
            </form>
            <form method="get" action="${href.adaptiveartifacts('spec/' + spec.get_id())}">
                <input type="hidden" name="action" value="delete" />
                <input type="submit" value="Delete" />
            </form>
        </div>
        <br/>
        <div style="float:right">See <a href="${artifacts_url}">Adaptive Artifacts of the <em>${spec.get_name()}</em> type</a> ››</div>
        <br/><br/><br/>
    </div>
  </body>
</html>
