<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <py:match path="div[@id='dialog-content']" once="true">
        <h1>
            <py:if test="spec_name"><a href="${spec_url}">${spec_name}</a></py:if>
            <py:if test="not spec_name">Adaptive Artifact</py:if>
            <py:if test="artifact.str_attr"> <em>${str(artifact)}</em> <small>(#${artifact.get_id()}<py:if test="not spec_name">, no Type specified</py:if>)</small></py:if>
            <py:if test="not artifact.str_attr">#${artifact.get_id()} <py:if test="not spec_name"><small>(no Type specified)</small></py:if></py:if>
        </h1>
        <span class="label">Attributes</span>
        <table class="attributes">
            <tr py:for="name, value in artifact.get_values()">
                <th>
                    <py:choose test="">
                        <py:when test="name in [attribute.name for attribute in artifact.__class__.get_attributes()]"><strong>${name}</strong>:</py:when>
                        <py:otherwise>${name}:</py:otherwise>
                    </py:choose>
                </th>
                <td>${value}</td>
            </tr>
          </table>
    </py:match>

</html>