<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <py:match path="div[@id='dialog-content']" once="true">
        <div id="asa">
            <py:if test="artifact.str_attr">
                <h1>
                    <div style="font-style: italic;">
                        <py:if test="artifact.str_attr">
                            ${str(artifact)}
                        </py:if>
                        <py:if test="not artifact.str_attr">
                            #${artifact.get_id()}
                        </py:if>
                    </div>
                    <div style="font-weight: normal;font-size: 60%;">
                        Adaptive Artifact of
                        <py:if test="spec_name">
                            the type <em><a href="${spec_url}">${spec_name}</a></em>.
                        </py:if>
                        <py:if test="not spec_name">
                            unspecified type.
                        </py:if>
                    </div>
                </h1>
            </py:if>
            <span class="label">Attributes</span>
            <table class="attributes">
                <py:for each="name, n_values, value in artifacts_values">
                    <tr>
                        <th rowspan="${n_values}">
                            <py:choose test="">
                                <py:when test="name in [attribute.name for attribute in artifact.__class__.get_attributes()]"><strong>${name}</strong>:</py:when>
                                <py:otherwise>${name}:</py:otherwise>
                            </py:choose>
                        </th>
                        <py:if test="not type(value) is list">
                            <py:if test="not '\n' in value">
                                <td>${wiki_to_oneliner(context, value)}</td>
                            </py:if>
                            <py:if test="'\n' in value">
                                <td class="multiline">${wiki_to_html(context, value)}</td>
                            </py:if>
                        </py:if>
                        <py:if test="type(value) is list">
                            <py:if test="not '\n' in value">
                                <td>${wiki_to_oneliner(context, value[0])}</td>
                            </py:if>
                            <py:if test="'\n' in value">
                                <td class="multiline">${wiki_to_html(context, value[0])}</td>
                            </py:if>
                        </py:if>
                    </tr>
                    <py:if test="type(value) is list and len(value[1:])>0">
                        <py:for each="v in value[1:]">
                            <tr>
                                <td>
                                    <py:if test="not '\n' in value">
                                        ${v}
                                    </py:if>
                                    <py:if test="'\n' in value">
                                        ${wiki_to_html(context, v)}
                                    </py:if>
                                </td>
                            </tr>
                        </py:for>
                    </py:if>
                </py:for>
              </table>
        </div>
    </py:match>

</html>