<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html" />
    <xi:include href="view_artifact_common.html" />

    <head>
        <title>Adaptive Artifact #${artifact.get_id()} <py:if test="spec_name">(${spec_name})</py:if></title>
    </head>
    <body>
        <div id="content" class="asa search">
            <div id="dialog-content"></div>

            <div class="buttons" style="position: absolute; top: 0; right: 0;">
                <form method="get" action="${href.adaptiveartifacts('artifact/' + artifact.get_id())}">
                    <input type="hidden" name="action" value="edit" />
                    <input type="submit" value="Edit" />
                </form>
                <form method="get" action="${href.adaptiveartifacts('artifact/' + artifact.get_id())}">
                    <input type="hidden" name="action" value="delete" />
                    <input type="submit" value="Delete" />
                </form>
            </div>
            <br/>

            <div style="display: inline-block; width:62%; vertical-align: top;">
                <a name="pages" />
                <h2 title="Wiki Pages about this Adaptive Artifact">Wiki Pages about <em>${str(artifact)}</em></h2>
                <py:if test="len(related_pages)==0">
                    <p style="font-style: italic">This adaptive artifact is not referred from a wiki page.</p>
                </py:if>
                <py:if test="len(related_pages)>0">
                    <dl class="related">
                        <py:for each="page in related_pages">
                            <dt><a href="${page.href}" class="wiki">${page.title}</a></dt>
                            <dd>${page.excerpt}</dd>
                            <dd>
                                <py:if test="page.author"><span class="author">By ${format_author(page.author)}</span> &mdash;</py:if>
                                <span class="date">${page.date}</span>
                            </dd>
                        </py:for>
                    </dl>
                </py:if>
            </div>

            <div style="display: inline-block; width:36%; vertical-align: top;">
                <a name="artifacts"/>
                <h2 title="Other Adaptive Artifacts that refer to this one">Adaptive Artifacts that link here</h2>
                <py:if test="len(related_artifacts)==0">
                    <p style="font-style: italic">This adaptive artifact is not referred from other adaptive artifacts.</p>
                </py:if>
                <py:if test="len(related_artifacts)>0">
                    <dl class="related">
                        <py:for each="rel_artifact in related_artifacts">
                            <dt><a href="${rel_artifact.href}" class="asa-link">${str(rel_artifact.artifact)}</a></dt>
                            <dd>Adaptive Artifact of
                                    <py:if test="rel_artifact.spec_name">
                                        the type <em><a href="${rel_artifact.spec_url}" class="asa-link">${rel_artifact.spec_name}</a></em>.
                                    </py:if>
                                    <py:if test="not rel_artifact.spec_name">
                                        unspecified type.
                                    </py:if>
                            </dd>
                            <dd>
                                <py:if test="rel_artifact.author"><span class="author">By ${format_author(rel_artifact.author)}</span> &mdash;</py:if>
                                <span class="date">${rel_artifact.date}</span>
                            </dd>
                        </py:for>
                    </dl>
                </py:if>
            </div>
            <div>
                <h2>Diagram of related Adaptive Artifacts</h2>
                <img src="${yuml_url}" class="yuml"/>
            </div>
            <br/><br/><br/>
        </div>
    </body>
</html>